{% extends 'web/base.html' %}
{% load static %}

{% block titulo %}Contacto{% endblock titulo %}
{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
{% endblock estilos %}

{% block contenido %}
    <div class="content">
        <div class="formulario">
            <h1>Formulario contacto</h1>
            <hr>
            <form id="formContacto" action="" method="POST">
                {% csrf_token %}
                <div class="grupo">
                    <h4>Nombre(*):</h4>
                    <input class="borde" type="text" name="nombre" id="txtNombre" placeholder="Ingrese nombre" pattern="[A-Za-z]+" required>
                </div>
                <div class="grupo">
                    <h4>Apellido(*):</h4>
                    <input class="borde" type="text" name="apellido" id="txtApellido" placeholder="Ingrese apellido" pattern="[A-Za-z]+" required>
                </div>
                <div class="grupo">
                    <h4>Asunto(*):</h4>
                    <input class="borde" type="text" name="asunto" id="txtAsunto" placeholder="Ingrese asunto" required>
                </div>
                <div class="grupo">
                    <h4>Tipo de contacto(*):</h4>
                    <select name="contacto" id="cboContacto">
                        <option value="solicitud">Solicitud</option>
                        <option value="reclamo">Reclamo</option>
                        <option value="sugerencia">Sugerencia</option>
                    </select>
                </div>
                <div class="grupo">
                    <h4>Mensaje(*):</h4>
                    <textarea id="txtMensaje" name="mensaje" rows="4" cols="50"></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="msg msg-{{ message.tags }}">
                    <h4>{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock contenido %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock scripts %}